* {
  font-family: 'Red Hat Display', sans-serif;
}
body{
  background-image: url('../images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-color:hsl(225, 100%, 94%);
  background-size: 100%;
}

.card{
  border-radius: 15px;
  width: 30%;
  margin-top: 9%;
  margin-left: 35%;
  background-color: white;
  filter: drop-shadow(0px 7px 15px hsla(245, 75%, 52%, 0.3));
}

.headImage img{
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.text{
  text-align: center;
  margin-top: 1%;
  padding-top: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
}

.title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 2vw;
}

.subtitle{
  color:hsl(224, 23%, 55%);
  font-weight: 500;
  font-size: 1.15vw;
  margin-top: 5%;
  line-height: 1.6;
}

.paymentPlan{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1vw 3vw 2vw;
  border-radius: 10px;
  background-color: hsl(225, 100%, 98%);
  padding: 1.5vw;
}

.paymentIconPrice{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1.75vw;
}

.musicIcon img{
  width: 3vw;
}

.annualPlan{
  color:hsl(223, 47%, 23%);
  font-weight: 700;
  font-size: 1vw;
}

.price{
  color:hsl(224, 23%, 55%);
  font-weight: 500;
  font-size: 1vw;
  margin-top: 10%;
}

.changeLink a{
  color:hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 0.9vw;
}

.changeLink a:hover{
  color:hsl(245, 86%, 72%);
}

.buttons{
  margin: 0vw 3vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
  row-gap: 15px;
}

.paymentButton{
  background-color: hsl(245, 75%, 52%);
  filter: drop-shadow(0px 7px 15px hsla(245, 75%, 52%, 0.3));
  color: hsl(225, 100%, 98%);
  align-items: center;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1vw;
  padding:1vw;
  border: transparent;
}
.paymentButton:hover{
  background-color:hsl(245, 86%, 72%)
}

.cancelButton {
  border: transparent;
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  font-size: 1vw;
  margin-top: 2%;
}
  
.cancelButton:hover{
  color:hsl(223, 47%, 23%);
}

footer{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 0.6vw;
  color:hsl(224, 23%, 55%);
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2px;
  padding: 0;
  padding-bottom: 5px;
}
